.register-form{
  margin: 1rem;
  padding: 0;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

#create-client {
  padding: 1rem;
  font-size: 18px;
  background-color: black;
  color: white;
}

label {
  margin: 1rem;
}
input {
  margin: 1rem;
  width: 300px;
  height: 25px;
}

#submit-form {
  width: 250px;
  height: 35px;
}
