<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="./styles/admin.css">
</head>
<body>
    <!-- Your content goes here -->
<header>
  <h1>WELCOME TO FRIENDLY BUSINESS ADMIN</h1>
</header>
<main>
  <div class="main__top">
    <a href="./create-customer.html"><button class="vertical_btn">
      ADD NEW CUSTOMER
    </button></a>
  </div>
  <div class="main__center">
    <div class="main_left">
      <a href="#"><button class="center_btn">
        SEE PRODUCTS TABLE
      </button></a>
    </div>
    <div class="main_middle">
      <img src="./images/img4.png" alt="admin logo">
    </div>
    <div class="main_right">
      <a href="#"><button class="center_btn">
        SEE CUSTOMERS TABLE
      </button></a>
    </div>
  </div>
  <div class="main__bottom">
    <a href="./register-products.html"><button class="vertical_btn">
      ADD NEW PRODUCT
    </button></a>
  </div>
</main>
<!-- <script src="./scripts/new-user.js"></script> -->
</body>
</html>
