<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="./styles/new-product.css">
</head>
<body>
    <!-- Your content goes here -->
    <main class="new__product">
      <div class="new__user-card">
        <h1>New Product Submitted in the Database</h1><br>
        <h1>Product ID: #{product_id} </h1>
        <h1> #{product_name} </h1>
        <h2>Product Description:.</h2><br>
        <p>#{description}</p><br>
        <h2>Product price: #{price}</h2><br>
        <div class="points">
          <h2>Loyalty Program</h2>
          <h2>GIVES: #{loyalty_points} Loyalty Points</h2>
          <h2>BUY REQUIRE: #{price_in_points} Loyalty Points</h2>
        </div>

      </div>
    </main>

<!-- <script src="./scripts/new-user.js"></script> -->
<script src="./scripts/admin-link.js"></script>
</body>
</html>
