<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="./styles/new-user.css">
</head>
<body>
    <!-- Your content goes here -->
    <main class="new__user">
      <div class="new__user-card">
        <h1>Welcome to Loyalty Customers Program</h1><br>
        <h1> #{name} </h1>
        <h2>your email:  #{email}.</h2><br>
        <h2>your contact number: #{number}</h2><br>
        <div class="points">
          <h2>Your Loyalty ID: #{id}</h2>
          <h2>You have: #{loyalty_points} Loyalty Points</h2>
        </div>

      </div>
    </main>

<!-- <script src="./scripts/new-user.js"></script> -->
<script src="./scripts/admin-link.js"></script>
</body>
</html>
